---
import { AstroFont } from 'astro-font';
import AppNavbar from "../components/AppNavbar.astro";
import "./../tailus.css"

interface Props {
    title?: string;
}

const { title = "Beem - Create Videos" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/vr_logo_small.png" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Create videos with AI-powered Beem" />
        <title>{title}</title>

        <AstroFont
            config={[
                {
                    src: [],
                    name: "Urbanist",
                    preload: true,
                    display: "swap",
                    selector: "html",
                    fallback: "sans-serif",
                    googleFontsURL: 'https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap',
                },
            ]}
        />
    </head>
    <body class="bg-white dark:bg-gray-950 flex flex-col h-screen overflow-hidden">
        <AppNavbar />
        <main class="flex-1 overflow-auto">
            <slot />
        </main>
    </body>
</html>
