---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
import "./../tailus.css"

interface Props {
  title?: string;
}

const { title = "Beem - Видео товаров для маркетплейсов" } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/vr_logo_small.png" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Beem - Создавайте видео товаров для карточек Wildberries, Ozon, Amazon. Загрузите фото — получите готовое видео за минуты. Увеличьте продажи на 30%." />
        <title>{title}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet" />
    </head>
    <body class="bg-white dark:bg-gray-950">
        <AppHeader />
        <slot />
        <AppFooter />
    </body>
</html>
