---
import Container from "./Container.astro";

---

<footer class="py-20 md:py-40">
    <Container>
      <div class="m-auto text-center">
        <span class="block text-gray-600 dark:text-gray-400">
          {/* EN: Need help? Contact us */}
          Нужна помощь?
          <a href="mailto:support@beem.ink" class="font-semibold text-primary dark:text-white hover:underline"> Связаться</a>
        </span>
      </div>
    </Container>
</footer>