# PostgreSQL соединение
DB_HOST=localhost
DB_PORT=5432
DB_NAME=dbgis
DB_USER=postgres
DB_PASSWORD=postgres

# FastAPI
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=False

# SQLite путь (для миграции)
SQLITE_PATH=../dgdat2xlsx/data/local.db
